@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: #ffe72c !important;
    border-radius: 10px;
    transition:.3s ease-in-out;
}
    a:hover {
        background-color: #e24140;
        border-radius: 10px;
        padding: 10px;
        color: white !important;
    }
a:active {
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}
.btnSalir{
    margin-left:500px;
}
